@model IEnumerable<Warsztaty.Data.Models.Item>


<html>
<body>
    <br />
        
            @foreach (var item in Model)
            {
              <div class="bordered">
                <form asp-action="DeleteItem" asp-route-id="@item.Id">

                        <p>
                            @Html.DisplayFor(modelItem => item.Title)  @Html.DisplayFor(modelItem => item.CreatedAt, "{0:dd/MM/yyyy}")      <input type="submit" value="usun">
                        </p>
                        <br />
                        @Html.DisplayFor(modelItem => item.Content)


                     
                    
                </form>
                  </div>

                      <br />
                      }

</body>
</html>
